.container {
    display: flex;
    flex-wrap: nowrap;
}

.container .camera-selection-card, .container .camera-pictures-list {
    max-height: 400px;
    overflow-y: auto;
}
.container .camera-selection-card {
    min-width: 280px;
    flex-grow: 1;
}

.container .camera-pictures-list {
    margin-left: 25px;
    flex-grow: 1;
}


.selected {
    color: #69f0ae;
    background: #303030;
}


@media(max-width: 480px) {
    .container {
        flex-wrap: wrap;
    }

    .container .camera-selection-card, .container .camera-pictures-list {
        max-height: 300px;
        min-width: 280px;
        flex-grow: 1;
    }
    .container .camera-pictures-list {
        margin-left: 0;
        margin-top: 45px;
    }
    
    
}