<div class="container">

    <div class="camera-selection-card">
        <app-camera-selection-list [roverCameras]="roverCameras$ | async"
            (cameraSelected)="selectCamera($event.camera)"
            [selectedCamera]="selectedCamera"
        ></app-camera-selection-list>
    </div>
    
    <div class="camera-pictures-list" *ngIf="roverCameraPictures$ | async; let roverCameraPictures">
        <app-camera-pictures-list [roverCameraPictures]="roverCameraPictures"
            (photoSelected)="selectPhoto($event.photo)"
        ></app-camera-pictures-list>
    </div>


</div>