<mat-card>
    <mat-card-header>
        <mat-card-title>Selecione uma câmera</mat-card-title>
    </mat-card-header>

    <mat-action-list>
        <button mat-list-item *ngFor="let camera of roverCameras" (click)="onSelectCamera(camera)"
            [class.selected]="isCameraSelected(camera)">
            <mat-icon mat-list-icon>photo_camera</mat-icon>
            <h4 mat-line>{{ camera.name }}</h4>
            <p mat-line>{{ camera.full_name }}</p>
        </button>
    </mat-action-list>
</mat-card>